.main{
    width: 100%;
    height: 100vh;
    font-family: var(--font-poppins-regular);
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 50%;
    justify-content: center;
    background: linear-gradient(to right, #850e36cb, #ee6983, #ffc4c4);
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 8%;
    margin-bottom: 1%;
    padding: 2rem;
    border-radius: 10px;
}

.tag{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2rem;
    width: 10rem;
    background-color: #ffc4c4;
    border-radius: 30px;

}

.containerTag{
    font-size: 0.9rem;
    font-weight: 300;
    color: #850e36cb;
    margin-top: 0.5rem;
}

.containerTitle{
    margin-top: 5%;
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
}

.containerText{
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    margin-top: 0.5rem;
}

.author{
    display: flex;
    margin-left: 4rem;
    margin-bottom: 4rem;
    gap: 1rem;
}

.authorSettings{
    font-size: 0.9rem;
    font-weight: 300;
    color: #850e36cb;
}

.contentContainer{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    justify-content: center;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2%;
    padding: 2rem;
    border-radius: 10px;
}

.ContentTitle{
    margin-top: 2%;
    margin-bottom: 2%;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    color:  #850e36cb;
}

.contentText{
    font-size: 1rem;
    text-align: justify;
    color: #333;
    line-height: 1.6;
}

.grifado{
    background-color:  #ffabc7cb;
    color: #850e36cb;
    padding: 0 4px;
}

.BibliotecasGrid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}


.Negrito{
    font-weight: 700;
    color: #850e36cb;
}

